@import url(https://fonts.googleapis.com/css?family=Roboto:100);

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Roboto';
  font-weight:100;
  background: #bbb;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.calculator {
  border: 1px solid #47476b;
  padding: 5px;
  background: black;
  width: 260px;
  position: relative;
}

.formulaScreen {
  min-height: 18px;
  font-size: 18px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 32px;
  color: white;
  text-align: right;
  line-height: 40px;
}

.jumbo {
  width: 120px;
  border-radius: 30px;
}

.author {
  text-align: center;
  margin-top: 15px;
}

.author a {
  text-decoration: none;
  color: #00264d;
  line-height: 26px;
  }

.operator {
  background: #ff9500;
  }

.operator:hover {
  background: white;
  color: #ff9500;
}

.grey {
  background: #ccc;
  color: black;
}

.grey:hover {
  background-color: white;
}

button {
  position: relative;
  height: 55px;
  width: 55px;
  margin: 5px;
  color: white;
  border: none;
  background: #444444;
  font-size: 24px;
  cursor: default;
  border-radius: 50%;
}

button:hover {
    background: #9b9b9b;
  z-index: 3;
}
